.responsive-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

.blink-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}
.responsiveImage {
	position: relative;
	z-index: 1;
}

.blink {
	position: absolute; /* 絶対位置を指定 */
	border-radius: 50%; /* 丸くするために半径を指定 */
	background-color: rgba(255, 255, 0, 0.3); /* 光る色（透明度を調整） */
	overflow: hidden; /* 内容がはみ出さないようにする */
	pointer-events: none; /* マウスイベントを無視 */
}

.blink6 {
	border-radius: 50%;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
.highlight {
	animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.upper-menu {
	width: 600px;
	height: 600px;
	position: absolute;
	z-index: 99;
	top: 30%;
	right: -3%;
	transform: translate(3%, -30%);
}

.down-menu {
	width: 600px;
	height: 600px;
	position: absolute;
	z-index: 99;
	top: 45%;
	right: -3%;
	transform: translate(3%, -45%);
}

.runch-menu {
	width: 711px;
	height: 90px;
	position: absolute;
	z-index: 99;
	bottom: 10%;
	left: 14%;
	transform: translate(-14%, -10%);
}

.night-menu {
	width: 711px;
	height: 90px;
	position: absolute;
	z-index: 99;
	bottom: 10%;
	right: 6.5%;
	transform: translate(-6.5%, -10%);
}

.side-menu {
	width: 285px;
	height: 285px;
	position: absolute;
	z-index: 99;
	bottom: 1%;
	right: 1%;
	transform: translate(-1%, -1%);
}

.for_ramen {
	width: 326px;
	height: 326px;
	position: absolute;
	z-index: 99;
	top: 60%;
	right: 0;
	transform: translate(0%, -60%);
}

.for_side_dish {
	width: 326px;
	height: 326px;
	position: absolute;
	z-index: 99;
	top: 70%;
	right: 0;
	transform: translate(0%, -70%);
}

.for_spicy_ramen {
	width: 326px;
	height: 326px;
	position: absolute;
	z-index: 99;
	top: 80%;
	right: 0;
	transform: translate(0%, -80%);
}

.for_drinks {
	width: 326px;
	height: 326px;
	position: absolute;
	z-index: 99;
	top: 90%;
	right: 0;
	transform: translate(0%, -90%);
}
